body {
      background: black;
      text-align: center;
      color: #DDD;
      font-family: Arial;
    }

    .controls {
      color: #BBB;
    }

    #cr-stage { 
      
      }

    .bottom {
      font-size: 12px;
      color: #888;
      margin-top: 50px;
    }

    .bottom a {
      color: #AAA;
    }
    
    #editorFrame {
      width: 936px;
      margin: 0 auto;
    }
    
    #editorFrame ul {
      list-style: none;
    }

    #editorFrame > ul {
      width: 896px;
    }
    
      #editorPanel {
        background-color: #BBB;
        float: left;
        width : 128px;
        height: 496px;
        padding-top:16px;
		font-family: arial;
		font-size: 10px;
      }
        
        #editorPanel #upArrow {
		  background-color:white;
          width:64px;
          height:16px;
        }
        
        #editorPanel #downArrow {
		  background-color:white;
          width:64px;
          height:16px;
		  padding: 0px 16px;
        }
        
        #editorPanel #goButton,
 		#editorPanel #pauseButton,
		#editorPanel #resetSimulationButton,
		#editorPanel #reloadLevelButton {
          width:64px;
          height:64px;
		  float:left;
        }

		#editorPanel #goButton {
			background:url('../assets/t_gui_goA_normal.png') no-repeat 0 0 ;
		}
		
		#editorPanel #goButton:hover {
			background:url('../assets/t_gui_goA_hover.png') no-repeat 0 0 ;
		}
		
		#editorPanel #pauseButton {
			background:url('../assets/t_gui_pauseA_normal.png') no-repeat 0 0 ;
		}
		
		#editorPanel #pauseButton:hover {
			background:url('../assets/t_gui_pauseA_hover.png') no-repeat 0 0 ;
		}
		
		#editorPanel #resetSimulationButton {
			background:url('../assets/t_gui_rewindA_normal.png') no-repeat 0 0 ;
		}
		
		#editorPanel #resetSimulationButton:hover {
			background:url('../assets/t_gui_rewindA_hover.png') no-repeat 0 0 ;
		}
		
		#editorPanel #reloadLevelButton {
			background:url('../assets/t_gui_restartA_normal.png') no-repeat 0 0 ;
		}
		
		#editorPanel #reloadLevelButton:hover {
			background:url('../assets/t_gui_restartA_hover.png') no-repeat 0 0 ;
		}
    
        #editorPanel .hiddenArrow {
          visibility: hidden;
          /*background-color:white;*/
        }
        
        #editorPanel #tileList,
 		#editorPanel #tileListLocked {
          background-color: #DDD;
          padding: 0px;
        }
        
        #editorPanel #tileList .tile,
 		#editorPanel #tileListLocked .tile {
          width:64px;
          height:96px;
          margin: 0 auto;
          color: black;
          padding: 0 16px;
        }

		#editorPanel #tileList .selected {
          background-color:purple;
        }
        
        #editorPanel #tileList li:hover {
          background-color:yellow;
        }
        
        #editorPanel #tileList li img,
		#editorPanel #tileListLocked li img{
          width:64px;
          height:64px;
          padding-top:8px;
        }

.live_map_editor {
  width: 212px; 
  margin: 0 auto;
}

.live_map_editor textarea {
  font-size: 28px;
  font-family: monospace;
  /*width: 8em;*/
  width: 212px;
  display: block;
  height: 260px;
  margin: 0 auto;
}

.live_map_editor button {
  width: 12em;
  margin: 10px auto;
  display: block;
  font-size: 16px;
}

.level_editor_legend {
  list-style: none;
  width: 300px;
  margin: 10px auto 0;
}

.level_editor_legend > li {
  text-align: left;
  text-indent: 24px;
}

.level_editor_legend > li label {
  font-weight: bold;
  margin-right: 0.6em;
}